* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
    min-height: 100vh;
    font-size: 15px;
    display: flex;
    align-items: center;
}

.container {
    max-width: 350px;
    margin: 0 auto;
}

.card {
    background-color: white;
    padding: 15px;
    border-radius: 1rem;
    margin: 0 1rem;
    text-align: center;
}

.card img {
    width: 100%;
    border-radius: 0.8rem;
}

.content{
    padding: 22px 10px;
}

.content h2{
    color: hsl(218, 44%, 22%);
    margin-bottom: 15px;
}

.content p{
    color: hsl(220, 15%, 55%);
}